<div class="column">
  <div class="columns is-multiline" id="jobs">
    {{#each partials.crewsContext}}
      <div class="column is-half">
        <div class="box">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img src="https://prod.cloud.rockstargames.com/crews/sc/{{avatar}}/{{crewId}}/publish/emblem/emblem_128.png">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p class="subtitle is-6">
                <a href="https://socialclub.rockstargames.com/crew/{{crewUrl}}" target="_blank">
                  {{name}}
                  <span class="tag is-white" style="border: 1px solid #{{color}}; margin-left: 4px;">{{tag}}</span>
                </a>
              </p>
              <div class="field">
                <p class="control">
                  {{#if uploadedDateString}}
                    <a class="button is-small is-light" href="/admin/fetch?type=crew&id={{crewId}}" target="_blank">
                      Fetch jobs
                    </a>
                     ({{uploadedDateString}}, {{jobsAmount.fetched}}/{{jobsAmount.total}})
                  {{else}}
                    <a class="button is-small is-warning" href="/admin/fetch?type=crew&id={{crewId}}" target="_blank">
                      Fetch jobs
                    </a>
                  {{/if}}
                </p>
              </div>
            </div>
        </article>
        </div>
      </div>
    {{/each}}
  </div>
</div>
