<div class="subtitle is-5"><i>Page {{pagination.current_page}}</i></div>
<div class="columns is-multiline" id="jobs">
  {{#each partials.jobsContext}}
  <div class="column is-one-third-desktop is-half-tablet">
    <div class="card">
      <a href="/job/{{jobId}}">
        <div class="card-image" style="position: relative;">
          <div class="card-image-text">
            <p class="title is-5">
              <span class="tooltip tooltip-bottom" data-tooltip="Mode: {{job.mode.name}}">
                <span class="icon" style="font-family: 'gtav-icon-font';">&#x{{job.mode.icon}};</span>
              </span>
              {{{name}}}
            </p>
          </div>

          <div class="card-image-strip is-{{ratingCssClass}}" style="width: {{stats.rating}}%;"></div>

          <figure class="image is-2by1">
            <img src="{{imageUrl}}" alt="Job image" style="background-color: #e1e1e1;">
          </figure>
        </a>
      </div>

      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image image-avatar is-48x48">
              {{#if author}}
                <img src="https://a.rsg.sc/n/{{lowerCase author}}/s" alt="Author avatar">
                <div class="image-avatar-medal">
                  <div class="tooltip tooltip-right" style="background-image: url(/images/medal-{{creator.medal}}.png)" data-tooltip="Medal"></div>
                </div>
              {{else}}
                <img src="/images/rockstar-avatar-48.png" alt="Author avatar">
              {{/if}}
            </figure>
          </div>

          <div class="media-content" style="width: 1px;">
            <p class="subtitle is-6">
              {{#if author}}
                <a href="/?author={{author}}">
                  @{{author}}
                </a>
              {{else}}
                <a href="/?category={{category.shortname}}">
                  {{category.name}}
                </a>
              {{/if}}

              {{!--  --}}
              {{!-- {#if creator.crew.tag}}
                <span class="tag is-white" style="margin-left: 4px; border: 1px solid #{creator.crew.color}}">
                  {creator.crew.tag}}
                </span>
              {/if}} --}}
              {{!--  --}}

              <br>
              <small><i>{{updatedDateString}}</i></small>
            </p>
          </div>

          <div class="media-right">
            <div><div class="icon">
              <i class="fa fa-bookmark fa-lg" aria-hidden="true"></i>
            </div></div>
            {{#if category}}
              <div><div class="icon tooltip tooltip-left" data-tooltip="{{category.name}}">
                <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
              </div></div>
            {{/if}}
          </div>
        </div>

        <div class="content">
          <div class="tags">
            {{#if author}}
              <a class="tag" href="/?verif={{../query.verif}}&author={{../query.author}}&plat={{plat.id}}">
                Platform: {{plat.name}}
              </a>
            {{else}}
              <a class="tag" href="/?verif={{../query.verif}}&author={{../query.author}}">
                All platforms
              </a>
            {{/if}}
          </div>
        </div>
      </div>

      <footer class="card-footer">
        <div class="card-footer-item tooltip" data-tooltip="People played this: {{stats.pldUnq}}">
          <i class="fa fa-gamepad fa-lg" aria-hidden="true" style="margin-right: 3px;"></i>
          {{stats.pldTot}}
        </div>
        <div class="card-footer-item tooltip" data-tooltip="Dislikes: {{stats.dlikes}}, optimal rating: {{stats.ratingQuit}}%">
          <i class="fa fa-thumbs-up fa-lg" aria-hidden="true" style="margin-right: 1px;"></i>
          {{stats.likes}}
          <span class="tag is-light" style="margin-left: 6px;">
            {{stats.rating}}%
          </span>
        </div>
      </footer>
    </div>
  </div>
  {{/each}}
</div>
