<div class="columns is-multiline" id="jobs">
  {{#each partials.jobsContext}}
    <div class="column is-half-tablet is-one-third-desktop">
      <div class="card">
        <div class="card-image" style="position: relative;">
          {{!-- Left hint --}}
          {{#unless category}}
            <div class="job-info job-info-left job-{{category}}">
              <img src="/images/plat-{{platform}}-white.png" width="24" height="24">
              <span class="job-icon-type">
                For {{platformName}} only
              </span>
            </div>
          {{/unless}}
          {{!-- Right hint --}}
          <div class="job-info job-info-right">
            <span>
              Mode: {{submodeName}}
            </span>
            <img src="/images/{{info.submode}}-white.png" width="24" height="24">
          </div>
          {{!-- Main job image --}}
          <figure class="image is-2by1">
            <img src="{{image}}" alt="Job image" style="background-color: #e1e1e1;">
          </figure>
        </div>

        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image image-avatar is-48x48">
                {{#if category}}
                  <img src="/images/rockstar-avatar-48.png" alt="Author avatar">
                {{else}}
                  <img src="https://a.rsg.sc/n/{{lowerCase creator.nickname}}/s" alt="Author avatar">
                {{/if}}
                {{#if creator.nickname}}
                  <div class="image-avatar-medal tooltip tooltip-right" style="background-image: url(/images/medal-{{creator.medal}}.png)" data-tooltip="Medal"></div>
                {{/if}}
              </figure>
            </div>
            <div class="media-content" style="width: 1px;">
              <p class="title is-5 cut">
                <a href="/job/{{jobID}}">
                  {{{name}}}
                </a>
              </p>
              <p class="subtitle is-6">
                {{#if creator.nickname}}
                  @{{creator.nickname}}
                {{else}}
                  {{#if tags.verified}}
                    <span class="icon">
                      <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                    </span>
                    Rockstar Verified Job
                  {{/if}}
                  {{#if tags.rockstar}}
                    <span class="icon">
                      <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                    </span>
                    Rockstar Job
                  {{/if}}
                {{/if}}
                {{#if creator.crew.tag}}
                  <span class="tag is-white" style="margin-left: 4px; border: 1px solid #{{creator.crew.color}}">{{creator.crew.tag}}</span>
                {{/if}}
              </p>
            </div>
          </div>

          <div class="content">
            <p class="field">
              <small><i>
              Updated {{updated.dateString}}
              {{#unless category}}
                (version {{updated.version}})
              {{/unless}}
              </i></small>
            </p>

            <p class="field">
              <a class="button is-small" data-added="0" style="width: 100%">
                Add to bookmarks
              </a>
            </p>
          </div>
        </div>

        <footer class="card-footer">
          <div class="card-footer-item tooltip" data-tooltip="People played this: {{ratings.playedUnique}}">
            <i class="fa fa-gamepad fa-lg" aria-hidden="true" style="margin-right: 3px;"></i>
            {{ratings.playedTotal}}
          </div>
          <div class="card-footer-item tooltip" data-tooltip="Dislikes: {{ratings.dislikes}}">
            <i class="fa fa-thumbs-up fa-lg" aria-hidden="true" style="margin-right: 1px;"></i>
            <span>
              {{ratings.likes}}
            </span>
            <span class="tag is-{{ratings.ratingColor}}" style="margin-left: 6px;">
              {{ratings.rating}}%
            </span>
          </div>
        </footer>
      </div>
    </div>
  {{/each}}
</div>
