<div class="subtitle is-5"><i>Page {{pagination.current_page}}</i></div>
<div class="columns is-multiline" id="jobs">
  {{#each partials.jobsContext}}
  <div class="column is-one-third-desktop is-half-tablet">
    <div class="card">
      <a href="/job/{{jobId}}">
        <div class="card-image" style="position: relative;">
          <div class="card-image-text">
            <p class="title is-5">
              <span class="tooltip tooltip-bottom" data-tooltip="Mode: {{job.mode.name}}">
                <span class="icon" style="font-family: 'gtav-icon-font';">&#x{{job.mode.icon}};</span>
              </span>
              {{{name}}}
            </p>
          </div>

          <div class="card-image-strip is-{{ratingCssClass}}" style="width: {{stats.rating}}%;"></div>

          <figure class="image is-2by1">
            <img src="{{imageUrl}}" alt="Job image" style="background-color: #e1e1e1;">
          </figure>
        </a>
      </div>

      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image image-avatar is-48x48">
              {{#unless verif}}
                <img src="https://a.rsg.sc/n/{{lowerCase author.username}}/s" alt="Author avatar">
                <div
                  class="tooltip tooltip-right image-avatar-medal"
                  style="background-image: url(/images/medal-{{author.medal}}.png)"
                  data-tooltip="Creator medal">
                </div>
              {{else}}
                <img src="/images/rockstar-avatar-48.png" alt="Author avatar">
              {{/unless}}
            </figure>
          </div>

          <div class="media-content" style="width: 1px;">
            <p class="subtitle is-6">
              {{#unless verif}}
                <a href="/?author={{author.username}}">
                  @{{author.username}}
                  {{#if author.crew}}
                    <span class="tag is-white" style="border: 1px solid #{{author.crew.color}}; margin-left: 4px;">
                      {{author.crew.tag}}
                    </span>
                  {{/if}}
                </a>
              {{else}}
                <a href="/?category={{verif}}">
                  {{verifText}}
                </a>
              {{/unless}}

              <br>
              <small><i>{{updatedDateString}}</i></small>
            </p>
          </div>

          <div class="media-right">
            <div><div class="icon">
              <i class="fa fa-bookmark fa-lg" aria-hidden="true"></i>
            </div></div>
            {{#if verif}}
              <div><div class="icon tooltip tooltip-left" data-tooltip="{{verifText}}">
                <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
              </div></div>
            {{/if}}
          </div>
        </div>

        <div class="content">
          <div class="tags">
            {{#unless verif}}
              <a
                class="tag"
                href="/?author={{../query.author}}&plat={{platform}}">
                {{platformName}}
              </a>
            {{/unless}}

            <span class="tag">Up to {{job.maxpl}} players</span>
          </div>
        </div>
      </div>

      <footer class="card-footer">
        <div class="card-footer-item tooltip" data-tooltip="People played this: {{stats.pldUnq}}">
          <i class="fa fa-gamepad fa-lg" aria-hidden="true" style="margin-right: 3px;"></i>
          {{stats.pldTot}}
        </div>
        <div class="card-footer-item tooltip" data-tooltip="Dislikes: {{stats.dlikes}}, optimal rating: {{stats.ratingQuit}}%">
          <i class="fa fa-thumbs-up fa-lg" aria-hidden="true" style="margin-right: 1px;"></i>
          {{stats.likes}}
          <span class="tag is-light" style="margin-left: 6px;">
            {{stats.rating}}%
          </span>
        </div>
      </footer>
    </div>
  </div>
  {{/each}}
</div>
