<div class="columns is-multiline" id="jobs">
  {{#each partials.jobsContext}}
    <div class="column is-half-tablet is-one-third-desktop">
      <div class="card">
        <div class="card-image" style="position: relative;">
          <div class="job-info job-info-right">
            <span>
              Mode: {{info.submodeName}}
            </span>
            <img src="/images/{{info.submode}}-white.png" width="24" height="24">
          </div>
          {{#if category}}
            <div class="job-info job-info-left job-{{category}}">
              <img src="/images/rockstar.png" width="24" height="24">
              <span class="job-icon-type">
                {{#if tags.verified}}
                  Rockstar Verified Job
                {{/if}}
                {{#if tags.rockstar}}
                  Rockstar Job
                {{/if}}
              </span>
            </div>
          {{/if}}
          <figure class="image is-2by1" style="background: #e1e1e1;">
            <img src="{{image}}" alt="Job image">
          </figure>
        </div>

        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image image-avatar is-48x48">
                {{#if category}}
                  <img src="/images/rockstar-{{category}}.png" alt="Author avatar">
                {{else}}
                  <img src="https://a.rsg.sc/n/{{lowerCase creator.nickname}}/s" alt="Author avatar">
                {{/if}}
                {{#if creator.nickname}}
                  <div class="image-avatar-medal" style="background: {{creator.medalColor}};"></div>
                {{/if}}
              </figure>
            </div>
            <div class="media-content" style="width: 1px;">
              <p class="title is-5 cut">
                <a href="/job/{{jobID}}">
                  {{{name}}}
                </a>
              </p>
              <p class="subtitle is-6">
                {{#if creator.nickname}}
                  @{{creator.nickname}}
                {{else}}
                  {{#if tags.verified}}
                    Rockstar Verified Job
                  {{/if}}
                  {{#if tags.rockstar}}
                    Rockstar Job
                  {{/if}}
                {{/if}}
                {{#if creator.crew.tag}}
                  <span class="tag is-white" style="margin-left: 4px; border: 1px solid #{{creator.crew.color}}">{{creator.crew.tag}}</span>
                {{/if}}
              </p>
            </div>
          </div>

          <div class="content">
            <div class="tags">
              {{#if tags.verified}}
                <span class="tag" style="background: #01498E; color: #fff">
                  Rockstar Verified Job
                </span>
              {{/if}}
            </div>

            <div class="field is-grouped is-grouped-multiline">
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag">Platform</span>
                  <span class="tag is-primary">
                    {{#if category}}
                      All platforms
                    {{else}}
                      {{!-- <img src="/images/plat-{platform}-white.png" style="margin-right: 4px"> --}}
                      {{platformName}}
                    {{/if}}
                  </span>
                </div>
              </div>
              {{#unless category}}
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag">Version</span>
                  <span class="tag is-info">{{updated.version}}</span>
                </div>
              </div>
              {{/unless}}
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag">Rating</span>
                  <span class="tag is-{{ratings.ratingColor}}">{{ratings.rating}}%</span>
                </div>
              </div>
            </div>

            <p class="field">
              <small><i>
              Updated {{updated.dateString}} (version {{updated.version}})
              </i></small>
            </p>

            <p class="field">
              <a class="button is-small" data-added="0" style="width: 100%">
                Add to bookmarks
              </a>
            </p>
          </div>
        </div>
        <footer class="card-footer">
          <div class="card-footer-item">🎮 {{ratings.playedTotal}}</div>
          <div class="card-footer-item">👍 {{ratings.likes}}</div>
          <div class="card-footer-item">👎 {{ratings.dislikes}}</div>
        </footer>
      </div>
    </div>
  {{/each}}
</div>
