<div class="columns is-multiline" id="jobs">
  {{#each partials.jobsContext}}
  <div class="column is-half-tablet is-one-third-desktop">
    <div class="card">
      <div class="card-image" style="position: relative;">
        <a href="/job/{{jobID}}">
        <div style="position: absolute; padding: 1rem 1.5rem; bottom: 0; left: 0; right: 0; z-index: 100; text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4); background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent)">
            <p class="title is-5" style="color: rgba(255, 255, 255, 0.85);">
              <span class="tooltip tooltip-bottom" style="font-weight: normal;" data-tooltip="Mode: {{submodeName}}">
                <img class="" src="/images/{{info.submode}}-white.png" width="16" height="16" style="margin-right: 5px; margin-left: 5px;">
              </span>
              {{{name}}}
            </p>
        </div>
        </a>
        <figure class="image is-2by1">
          <a href="/job/{{jobID}}"><img src="{{image}}" alt="Job image" style="background-color: #e1e1e1;"></a>
        </figure>
      </div>

      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image image-avatar is-48x48">
              {{#if category}}
                <img src="/images/rockstar-avatar-48.png" alt="Author avatar">
              {{else}}
                <img src="https://a.rsg.sc/n/{{lowerCase creator.nickname}}/s" alt="Author avatar">
              {{/if}}
              {{#if creator.nickname}}
                <div class="image-avatar-medal tooltip tooltip-right" style="background-image: url(/images/medal-{{creator.medal}}.png)" data-tooltip="Medal"></div>
              {{/if}}
            </figure>
          </div>

          <div class="media-content" style="width: 1px;">
            <p class="subtitle is-6">
              {{#if creator.nickname}}
                <a href="">@{{creator.nickname}}</a>
              {{else}}
                {{#if tags.verified}}
                  Rockstar Verified Job
                {{/if}}
                {{#if tags.rockstar}}
                  Rockstar Job
                {{/if}}
              {{/if}}
              {{#if creator.crew.tag}}
                <span class="tag is-white" style="margin-left: 4px; border: 1px solid #{{creator.crew.color}}">
                  {{creator.crew.tag}}
                </span>
              {{/if}}
              <br>
              <small><i>
                Updated {{updated.dateString}}
                {{#unless category}}
                  (version {{updated.version}})
                {{/unless}}
              </i></small>
            </p>
          </div>

          <div class="media-right">
            <div class="icon">
              <i class="fa fa-bookmark fa-lg" aria-hidden="true"></i>
            </div>
            {{#if tags.verified}}
            <div class="icon tooltip tooltip-left" data-tooltip="Rockstar Verified">
              <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            </div>
            {{/if}}
            {{#if tags.rockstar}}
            <div class="icon tooltip tooltip-left" data-tooltip="Rockstar Job">
              <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            </div>
            {{/if}}
            {{#unless tags.verified}}
            {{#unless tags.rockstar}}
            <div class="icon tooltip tooltip-left" data-tooltip="Verified by our team">
              <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
            </div>
              {{/unless}}
              {{/unless}}
          </div>
        </div>

        <div class="content">
          <div class="tags">
            <span class="tag">
              {{#if category}}
                All platforms
              {{else}}
                Platform: {{platformName}}
              {{/if}}
            </span>
            <span class="tag">Two</span>
            <span class="tag">Three</span>
          </div>
        </div>
      </div>

      <footer class="card-footer">
        <div class="card-footer-item tooltip" data-tooltip="People played this: {{ratings.playedUnique}}">
          <i class="fa fa-gamepad fa-lg" aria-hidden="true" style="margin-right: 3px;"></i>
          {{ratings.playedTotal}}
        </div>
        <div class="card-footer-item tooltip" data-tooltip="Dislikes: {{ratings.dislikes}}">
          <i class="fa fa-thumbs-up fa-lg" aria-hidden="true" style="margin-right: 1px;"></i>
          {{ratings.likes}}
          <span class="tag is-{{ratings.ratingColor}}" style="margin-left: 6px;">
            {{ratings.rating}}%
          </span>
        </div>
      </footer>
    </div>
  </div>
  {{/each}}
</div>
