{{#if xhr}}
  {{> jobs}}
{{else}}
<section class="hero is-light" style="/* background-image: url(https://media.rockstargames.com/rockstargames-newsite/uploads/751f1c75c7743b205f7edfa2dc39b95560f0437f.jpg); background-size: cover; */">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        GTA Online Jobs
      </h1>

      <div class="columns">
        <div class="column is-3">
          <div class="field">
            <label class="label" for="platform">Platform</label>
            <div class="control">
              <div class="select">
                <select id="platform">
                  <option>PC</option>
                  <option>PS4</option>
                  <option>Xbox One</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <label class="label" for="mode">Mode</label>
            <div class="control">
              <div class="select">
                <select id="mode">
                  {{#each modes}}
                    <option>{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <label class="label" for="type">Type</label>
            <div class="control">
              <div class="select">
                <select id="type">
                  <option>Mode not selected</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="field">
            <label class="label" for="sort">Sort by</label>
            <div class="control">
              <div class="select">
                <select id="sort">
                  <option>Rating</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <section class="section">
    <div class="container">
      {{#if partials.jobsContext}}
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary">
              <img src="/images/rockstar-white-36.png"> Rockstar Jobs
              <span class="icon">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-light">
              <img src="/images/rockstar-2.png"> Rockstar Verified Jobs
              <span class="icon">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </p>
        </div>

        <div class="columns">
          <div class="column">
            <div id="jobsList">
              {{> jobs}}
            </div>

            <br>
            <a class="button is-medium" style="width: 100%;" id="loadJobsList" data-current-page="{{pagination.current_page}}">
              Show more
              <span class="icon" style="margin-left: 5px;">
                <i class="fa fa-angle-down"></i>
              </span>
            </a>
          </div>
        </div>

        <div class="box is-shadowless">
        {{#if pagination}}
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
          {{#if pagination.has_previous_page}}
            <a class="pagination-previous" href="/?page={{pagination.previous_page}}">
              ← Previous page
            </a>
          {{/if}}
          <ul class="pagination-list">
            {{#each pagination.pages}}
              {{#if page}}
                {{#if isCurrent}}
                  <li>
                    <a
                      class="pagination-link is-current"
                      aria-label="Page {{page}}"
                      aria-current="page">
                        {{page}}
                    </a>
                  </li>
                {{else}}
                  <li>
                    <a
                      class="pagination-link"
                      href="/?page={{page}}"
                      aria-label="Goto page {{page}}">
                      {{page}}
                    </a>
                  </li>
                {{/if}}
              {{else}}
                <li>
                  <span class="pagination-ellipsis">&hellip;</span>
                </li>
              {{/if}}
            {{/each}}
          </ul>


          {{#if pagination.has_next_page}}
            <a class="pagination-next" href="/?page={{pagination.next_page}}">
              Next page →
            </a>
          {{/if}}

        </nav>
        {{/if}}
      {{else}}
        <article class="message is-danger">
          <div class="message-body">
            <p class="subtitle is-4">No jobs found on your request.</p>
          </div>
        </article>
      {{/if}}
      </div>
    </div>
  </section>
{{/if}}
