{{#if xhr}}
  {{> jobs}}
{{else}}
  <section class="section">
    <div class="container">
      {{#if partials.jobsContext}}
        <h1 class="title">
          GTA Online Jobs
        </h1>

        <aricle class="message is-primary is-medium">
          <div class="message-header">
            <p>Parameters</p>
          </div>

          <div class="message-body">
            <div class="columns">
              <div class="column is-half">
                <div class="field">
                  <p class="label">By</p>
                  <input class="is-radio is-primary is-small" type="radio" name="by" id="by-any" checked>
                  <label for="by-any">Any</label>
                  <input class="is-radio is-primary is-small" type="radio" name="by" id="by-members">
                  <label for="by-members">Members</label>
                  <input class="is-radio is-primary is-small" type="radio" name="by" id="by-rockstar" >
                  <label for="by-rockstar">Rockstar</label>
                  <input class="is-radio is-primary is-small" type="radio" name="by" id="by-rockstarverified" >
                  <label for="by-rockstarverified">Rockstar Verified</label>
                </div>
                <div class="field">
                  <input class="is-checkbox has-background-color is-primary is-small" id="verif" type="checkbox" name="vedrif">
                  <label for="verif">Verified by our team</label>
                </div>
                <div class="field">
                  <label class="label" for="author">Author</label>
                  <p class="control">
                    <input class="input" name="author" id="author" type="text" placeholder="Username" value="{{query.author}}" autocomplete="off">
                  </p>
                </div>
              </div>
              <div class="column">
                <div class="field">
                  <p class="label">Platform</p>
                  <input class="is-radio has-background-color is-primary is-small" id="any" type="radio" name="platform" checked>
                  <label for="any">Any</label>
                  <input class="is-radio has-background-color is-primary is-small" id="pc" type="radio" name="platform" checked>
                  <label for="pc">PC</label>
                  <input class="is-radio has-background-color is-primary is-small" id="ps4" type="radio" name="platform">
                  <label for="ps4">PS4</label>
                  <input class="is-radio has-background-color is-primary is-small" id="xboxone" type="radio" name="platform">
                  <label for="xboxone">Xbox One</label>
                  <input class="is-radio has-background-color is-primary is-small" id="ps3" type="radio" name="platform">
                  <label for="ps3">PS3</label>
                  <input class="is-radio has-background-color is-primary is-small" id="xbox360" type="radio" name="platform">
                  <label for="xbox360">Xbox 360</label>
                </div>
                <div class="field">
                  <p class="label">Modes</p>
                  {{#each modes}}
                    <a class="button is-white is-circle tooltip tooltip-bottom" data-tooltip="{{name}}" onclick="this.classList.toggle('is-dark')">
                    <span class="icon icon-gta">&#x{{icon}};</span>
                  </a>
                  {{/each}}
                </div>
                <div class="field">
                  <input class="is-checkbox has-background-color is-primary is-small" id="anymode" type="checkbox" name="anymode" checked disabled>
                  <label for="anymode">Any</label>
                </div>
              </div>
            </div>
          </div>
        </aricle>

        <div class="columns">
          <div class="column">
            <div id="jobsList">
              {{> jobs}}
            </div>

            <br>
            <a class="button is-medium" style="width: 100%;" id="loadJobsList" data-current-page="{{pagination.current_page}}">
              Show more
              <span class="icon" style="margin-left: 5px;">
                <i class="fa fa-angle-down"></i>
              </span>
            </a>
          </div>
        </div>

        <div class="box is-shadowless">
        {{#if pagination}}
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
          {{#if pagination.has_previous_page}}
            <a class="pagination-previous" href="/?page={{pagination.previous_page}}">
              ← Previous page
            </a>
          {{/if}}
          <ul class="pagination-list">
            {{#each pagination.pages}}
              {{#if page}}
                {{#if isCurrent}}
                  <li>
                    <a
                      class="pagination-link is-current"
                      aria-label="Page {{page}}"
                      aria-current="page">
                        {{page}}
                    </a>
                  </li>
                {{else}}
                  <li>
                    <a
                      class="pagination-link"
                      href="/?page={{page}}"
                      aria-label="Goto page {{page}}">
                      {{page}}
                    </a>
                  </li>
                {{/if}}
              {{else}}
                <li>
                  <span class="pagination-ellipsis">&hellip;</span>
                </li>
              {{/if}}
            {{/each}}
          </ul>


          {{#if pagination.has_next_page}}
            <a class="pagination-next" href="/?page={{pagination.next_page}}">
              Next page →
            </a>
          {{/if}}

        </nav>
        {{/if}}
      {{else}}
        <article class="message is-danger">
          <div class="message-body">
            <p class="subtitle is-4">No jobs found on your request.</p>
          </div>
        </article>
      {{/if}}
      </div>
    </div>
  </section>
{{/if}}
