<div class="job" style="background-image: url({{imageUrl}})">
  <div class="job-top">
  </div>
  <div class="job-bottom">
      <div class="container">
        <h1 class="title is-3">{{{name}}}</h1>
      </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <div class="media">
          <div class="media-left">
            <figure class="image image-avatar is-48x48">
              {{#if verif}}
                <img src="/images/rockstar-avatar-48.png" alt="Author avatar">
              {{else}}
                <img src="https://a.rsg.sc/n/{{lowerCase author}}/s" alt="Author avatar">
                <div class="image-avatar-medal">
                  <div class="tooltip tooltip-right" style="background-image: url(/images/medal-{{creator.medal}}.png)" data-tooltip="Medal"></div>
                </div>
              {{/if}}
            </figure>
          </div>

          <div class="media-content" style="width: 1px;">
            <p class="subtitle is-6">
              {{#if verif}}
                <a href="/?verif={{verif}}">
                  {{verification}}
                </a>
              {{else}}
                <a href="/?author={{author}}">
                  @{{author}}
                </a>
              {{/if}}

              {{!--  --}}
              {{!-- {#if creator.crew.tag}}
                <span class="tag is-white" style="margin-left: 4px; border: 1px solid #{creator.crew.color}}">
                  {creator.crew.tag}}
                </span>
              {/if}} --}}
              {{!--  --}}

              <br>
              <small><i>{{updatedDateString}}</i></small>
            </p>
          </div>

          <div class="media-right">
            <div class="icon">
              <i class="fa fa-bookmark fa-lg" aria-hidden="true"></i>
            </div>
            {{#if verif}}
              <div class="icon tooltip tooltip-left" data-tooltip="{{verification}}">
                <i class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
              </div>
            {{/if}}
          </div>
        </div>
      </div>

      <div class="column">
        {{{desc}}}
      </div>
    </div>
  </div>
</section>
